body {
    margin-top: 0%;
    padding-left: 3%;
    padding-right: 3%;
}

a {
    font-size: small;
    color:rgb(29, 42, 53)
}

*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1#titulo {
 text-align: center;
 background-color: black;
 color: beige;
}

#mi_nombre p {
    margin-left: 100px; margin-right: 100px;
    background-color: rgb(146, 235, 235);
    text-size-adjust: 16;
    text-align: center;
}

#titulo {
    text-align: center ;
    color: black; 
    padding-top: 2%;
    padding-left: 5%;
}

.titulo2 {
    text-align: left;
    text-decoration: solid; color:blueviolet
}

#img1{
 width: 1000px;
 height: 500px;
 border-style: groove; border-color:white; border-radius: 10px;

 opacity: 75% ;
}

img.icon {
    width: 15px;
    padding-top: 10px;
}

div p {
    text-align: center;
}

div#areas {
   border-radius: 10px;
   background-color:rgb(146, 235, 235);
   font-style: oblique;
   padding: 3%;
}

div#areas ul {
    text-align: left;
}

